* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.heading {
  font-size: 50px;
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 0;
}
.container {
  height: 400px;
  width: 400px;
  position: relative;
  background-color: #220035;
  display: flex;
  border-radius: 50%;
}

.container .conic-gradient {
  height: 430px;
  width: 430px;
  background: conic-gradient(
    #015959 0%,
    #015959 40%,
    #fff 40%,
    #fff 60%,
    #0ca1e6 60%,
    #0ca1e6 100%
  );
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
}
.container .pointer-container {
  height: 430px;
  position: absolute;
  top: -15px;
  left: 200px;
  animation: rotate 7.5s linear forwards infinite;
  /* width: 1px; */
  /* background-color: rgb(226, 17, 17); */
  /* z-index: 90; */
  /* border-radius: 50%; */
}

.container .pointer-container .pointer {
  background-color: #fff;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -20px;
  left: -5px;
  border-radius: 50%;
}
.container .text {
  z-index: 3;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: ease;
}
span a {
  text-decoration: none;
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
